<!DOCTYPE html>
<html>
<head>
	<title>student detail</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<style type="text/css">
		.container {
			background-color: #ccc;
			margin: 0 auto;
		}

		img{
			width: 200px;
			height: 300px;
		}
	</style>
	<div class="container">
		<img src={{student.pic.url}} />
		<p>First Name: 	{{student.first_name}}</p>
		<p>Second Name:	 {{student.second_name}}</p>
		<p>Gender: 	{{student.gender}}</p>
		<p>Email  {{student.email}}</p>
		<p>Registration:   {{student.registration_number}}</p>
		
		<button ><a href="/student/edit/{{student.pk}}/">EDIT STUDENT</a></button>
			
	</div>

</body>
</html>